<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create File</title>
    <link rel="stylesheet" href="/styles.css" type="text/css" />
    <script src="/scripts.js"></script>
  </head>
  <body>
    <h1>Creat New file</h1>
    <form
      action="/fileupload"
      method="post"
      enctype="multipart/form-data"
      onsubmit="return validateFile()"
    >
      <input type="file" name="filetoupload" />
      <p id="file-upload-err" style="color: red"></p>
      <input type="submit" />
    </form>
    <form
      action="/create"
      method="post"
      onsubmit="return validateFilename('<%= JSON.stringify(filesList) %>')"
    >
      <div>
        <p>file Name:</p>
        <input id="file-name-id" type="text" name="file-name" required />
        <p id="file-name-error" style="color: red"></p>
      </div>
      <div>
        <p><label for="file-content">Content:</label></p>
        <textarea
          id="file-content"
          name="file-content"
          rows="4"
          cols="50"
        ></textarea>
      </div>
      <input type="submit" value="Send" />
    </form>
  </body>
</html>
