<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Details</title>
    <link rel="stylesheet" href="/styles.css" type="text/css" />
  </head>
  <body>
    <h1>Details of File: <%= filename %></h1>
    <main>
      <p><%= fileContent %></p>

      <!-- <button type="button" onclick="location.href ='/edit/ <%= filename %>'">
        Edit File
      </button>
      <button type="button" onclick="location.href ='/delete/  <%= filename %>'">
        Delete File
      </button> -->
    </main>

    rename the file delete the file
  </body>
</html>
