<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Details</title>
    <link rel="stylesheet" href="/styles.css" type="text/css" />
    <script src="/scripts.js"></script>
  </head>
  <body>
    <main>
      <div class="content">
        <h1>Details of File: <%= filename %></h1>
        <p><%= fileContent %></p>
        <button
          type="button"
          onclick="showForm('<%= filename %>','<%= fileContent %>')"
        >
          Edit File
        </button>
      </div>
    </main>

    rename the file delete the file
  </body>
</html>
