<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Welcom to The Files Manager</h1>
    <h2>
      Here's a list of the files you have, you can click on the file you want to
      get more deatil.
    </h2>
    <div class="content">
      <% filesList.forEach(file =>{%>
      <p>
        <a href="/files/<%= file %>"> <%= file %></a>
      </p>
      <% }) %>
    </div>

    <button type="button" onclick="location.href ='/create'">
      Add New File
    </button>
  </body>
</html>
